$white:#fff;
$grey-light:#c7c7c7;
$grey-light-var:#9aacb9;
$grey-light-var-1:#61758a;
$grey-light-var-2:#a1b3bc;
$grey:#626161;
$grey-var:#7b7b7b;
$grey-var-1:#4a5662;
$grey-var-2:#41535d;
$grey-var-3:#909cb1;
$grey-bac:#efefef;
$grey-bac-sell:#efeff4;
$grey-bac-dark:#dedede;
$grey-br:#dedddd;
$grey-br-1:#dce6ea;
$grey-var-4: #cdd3dd;
$grey-var-5: #96a1b9;
$grey-var-6: #f7f4e9;
$grey-var-7:#eff7ff;
$blue:#003c69;
$blue-var:#1e5784;
$blue-var-1:#19325c;
$blue-var-2:#546581;
$blue-var-3:#06527f;
$blue-var-4:#019bfa;
$blue-var-5: #004e7c;
$blue-var-6:#038cf6;
$blue-btn: #19325c;
$orange:#ff9e74;
$container-background:#eaedf2;
$black:#0e0e0e;
$black-var:#010101;
$black-var-2:#121212;
$black-var-1:#626262;
$green:#007709;
$green-var:#8adb8f;
$green-var-1:#23c72f;
$brown:#be3807;
$brown-var:#eb9898;
$red:#f82626;
$light:#eee;
$light-yellow:#f7f74e;